{% extends "::layout.html.twig" %}

{% block Wcsplatform_body  %}

    <div id="contenu">
        <div class="formulaire">
            <h2>Modification question</h2>
            {{ form_start(edit_form, { 'action': path('questions_edit', { 'id': question.id }), 'attr': { 'novalidate': 'novalidate', 'autocomplete': 'off' } }) }}
            {{ form_widget(edit_form) }}
        </div>
        <a href="{{ path('questions_index') }}" class="btn bouton">Retour aux questions</a>
        <button class="btn bouton" type="submit" value="Modifier">Modifier</button>
        {{ form_end(edit_form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/markdown.js') }}"></script>
    <script src="{{ asset('js/categoriesInQuestions.js') }}"></script>
    <script src="{{ asset('js/bootstrap-multiselect.js') }}"></script>

{% endblock %}


