    {% extends '::layout.html.twig' %}

    {% block Wcsplatform_body %}

    <div class="row">
        <div class="col-xs-3">
            <div class="display-table">
                <div class="display-table-row">
                    <div class="v-align box" id="navigation">
                        <div class="navi">
                            <ul>
                                <li class="active"><a href="#"><i class="fa fa-star" aria-hidden="true"></i><span>Préférences</span></a></li>
                                <li><a href="#"><i class="fa fa-gears" aria-hidden="true"></i><span>Top 20</span></a></li>
                                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span>Question du mois</span></a></li>
                                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span>... de la semaine</span></a></li>
                                <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i><span>Utilisateurs</span></a></li>
                                <li><a href="{{ path('questions_new') }}"><i class="fa fa-quora" aria-hidden="true"></i><span>Posez une question</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for question in questions %}
        <div class="col-xs-9 quest_accueil">
            <div class="col-xs-1">
                <p>Votes</p>
            </div>
            <div class="col-xs-1">
                <p>{{ question.nbVue }}</p>
                <p>Vues</p>
            </div>
            <div class="col-xs-2">
                <img class="chevron" width="10%" alt="chevron" src="{{ asset('img/chevron-droit.png') }}">
                <span></span>
                <img class="chevron" width="10%" alt="chevron" src="{{ asset('img/chevron-gauche.png') }}">
                <p>Réponses</p>
            </div>
            <div class="col-xs-6">
                <p><a href="{{ path('questions_show', { 'id': question.id }) }}">{{ question.intituleQuestion }} </a></p>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
