    {% extends '::layout.html.twig' %}

    {% block Wcsplatform_body %}

        <div id="contenu">
            <!-- Single button -->
            <div class="col-sm-4">
                <a class="btn" id="bouton" href="{{ path('questions_new') }}">Poser une question !</a>
            </div>

            <div class="col-sm-8" id="questions">

        <h1></h1>

        <table class="table">
            <!-- <thead>
                <tr>
                    <th>Id</th>
                    <th>Intitulequestion</th>
                    <th>Contenu</th>
                    <th>Lienimage</th>
                    <th>Statut</th>
                    <th>Idusers</th>
                    <th>Actions</th>
                </tr>
            </thead>-->
            <tbody>
            {% for question in questions %}

                    <tr>
                    <td><a href="{{ path('questions_show', { 'id': question.id }) }}">{{ question.id }} </a></td>
                    <td>{{ question.intituleQuestion }}</td>
                    <td>{{ question.contenu }}</td>
                    <td>{{ question.lienImage }}</td>

                    <!--  <td>
                        <ul>
                            <li>
                                <a href="{{ path('questions_show', { 'id': question.id }) }}">show</a>
                            </li>

                        </ul>
                    </td>-->
                         </tr>

            {% endfor %}
            </tbody>
        </table>
                <a href="{{ path('questions_new') }}"><button class="btn" id="bouton" type="submit" value="">Poser une nouvelle question</button></a>
        </div>
        </div>
    {% endblock %}
