{% extends "::layout.html.twig" %}

{% block Wcsplatform_body %}
    <h1>Question</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Intitulequestion</th>
                <td>{{ question.intituleQuestion }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td id="test">{{ question.contenu }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ question.statut }}</td>
            </tr>
            <tr>
                <th>Idusers</th>
                <td>{{ question.idUsers }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('questions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('questions_edit', { 'id': question.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script src="{{ asset('js/showdown.js') }}"></script>
{% endblock %}