{% extends "::layout.html.twig" %}

{% block Wcsplatform_body %}
    <a href="{{ path('questions_new') }}" class="btn bouton"><i class="fa fa-quora" aria-hidden="true"></i><span>Posez une question</span></a>
    <div class="page-header">
        <div class="row">
            <div class="col-xs-2 text-center">
                <img class="img-responsive img-circle" src="{{ asset('img/profil/' ~ question.user.imgProfil) }}" alt="Profil">
                <p>{{ question.user.prenom }} {{ question.user.nom }}</p>
            </div>
            <div class="col-xs-10 text-right">
                <a href="{{ path('questions_edit', {'id': question.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier question</a>
                <a href="{{ path('questions_delete', {'id': question.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supprimer question</a>
            </div>
        </div>
    </div>

    <h1><i>{{ question.intituleQuestion }}</i></h1>
    <div id="contentQuest">
        <p>{{ question.contenu }}</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script src="{{ asset('js/showdown.js') }}"></script>
{% endblock %}