{% extends "::layout.html.twig" %}

{% block Wcsplatform_body %}

    <div class="page-header">
        <h2><h2>Liste des utilisateurs</h2></h2>
    </div>

    <div class="row">
        {% for user in users %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="{{ asset('img/profil/' ~ user.imgProfil) }}"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">{{ user.prenom }} {{ user.nom }}</h3>
                                    <p class="email">{{ user.email }}</p>
                                    <p class="text-center">Profil : {{ user.profil }}</p>
                                    {% if user.villeEcole %}
                                        <p class="text-center">Ville de l'Ecole : {{ user.villeEcole }}</p>
                                    {% endif %}
                                    {% if user.emploi %}
                                        <p class="text-center">Emploi : {{ user.emploi }}</p>
                                    {% endif %}
                                    {% if user.entreprise %}
                                        <p class="text-center">Entreprise : {{ user.entreprise }}</p>
                                    {% endif %}
                                </div>
                                <div class="footer">
                                    <i class="fa fa-mail-forward"></i>
                                </div>
                            </div>
                        </div> <!-- end front panel -->

                        <div class="back">
                            <div class="content">
                                <div class="header">
                                    <h5 class="motto">{{ user.slogan }}</h5>
                                </div>
                                <div class="main">
                                    <h4 class="text-center">Tes catégories préférées</h4>
                                    {% for categorie in user.categories %}
                                        <span class="text-center" >{{ categorie.intitule }} -</span>
                                    {% endfor %}
                                    <div class="stats-container">
                                        <h4 class="text-center">Statistiques</h4>
                                        <div class="stats borderline">
                                            <h4>{{ user.questions|length }}</h4>
                                            <p>Questions</p>
                                            <i class="fa fa-quora" aria-hidden="true"></i>
                                        </div>
                                        <div class="stats">
                                            <h4>{{ user.reponses|length }}</h4>
                                            <p>Réponses</p>
                                            <i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
                                        </div>
                                        <div class="stats">
                                            <h4>{{ user.votes|length }}</h4>
                                            <p>Votes</p>
                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="social-links text-center">
                                    <a href="{{ user.urlLinkedin ? user.urlLinkedin : '' }}" target="_blank" class="facebook"><i class="fa fa-linkedin fa-fw"></i></a>
                                    <a href="{{ user.urlTweeter ? user.urlTweeter : '' }}" target="_blank" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    <a href="{{ user.urlGithub ? user.urlGithub : '' }}" target="_blank" class="google"><i class="fa fa-github fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}